{% extends '::base.html.twig' %}

{% block body %}
  <h1>My Contacts</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      Add Contact
    </div>
    {% if app.session.flashBag.has('success') %}
    <div class="bg-success text-success">
      {% for message in app.session.flashBag.get('success') %}
          {{ message }}
      {% endfor %}
    </div>
    {% endif %}
    <div class="panel-body">
      {% form_theme form 'bootstrap_3_layout.html.twig' %}
      <form action="{{ path('contacts') }}" method="post" novalidate>
        {{ form_errors(form) }}

        <div class="row">
          <div class="col-lg-6 col-md-6">
            {{ form_row(form.name) }}
          </div>
          <div class="col-lg-6 col-md-6">
            {{ form_row(form.mobile) }}
          </div>
        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary">Add Contact</button>
      </form>
    </div>
  </div>



  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
        <th>
          Mobile
        </th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
          <tr>
            <td>
              {{ loop.index }}
            </td>
            <td>
              {{ contact.name }}
            </td>
            <td>
              {{ contact.mobile }}
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
